*{
    margin: 0;
    padding: 0;
}

.mank-nav{
    background-color: #031cfc;
    
}
.manak-txt{
    
    color: #FFFFFF;
    
}
.lgdp-txt{

  color: #FFFFFF;
    
}
@font-face {
    font-family: AGENCYR;
    src: url(/fonts/AGENCYR.ttf) format('ttf');
}

@font-face {
    font-family: AgencyFB;
    src: url(/fonts/agencyfb_reg.ttf) format('ttf');
}

body {
    background-color: #0f2187;
    font-family: Agency FB !important;
    font-weight: regular !important;

  } 


/* section 1 start */
.manak-img-div{
 background-color: #e3e7ff;
}
.log-in{
    background-color: red;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    /* border-radius: 8px; */
}
.Register-txt{
    text-align: center;
    text-decoration: none;
    color: red;
    /* font-size: 20px; */
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.mail-png{
    float: right;
}
.manak-sec-txt{
    /* font-size: 20px; */
    font-weight: 500;
    text-align: justify;
}
/* section 1 end */
/* section 2 start */
.mtxt-1{
    font-size: 14px;
    font-weight: 700;
}
/* section 2 end */


/* REPORT PAGE */
/* heading */
.title{
    font-weight: bold;
    font-size: xxx-large;
}

.title_2{
    font-size: medium;
}

.title_3{
    font-size: small;
}
.info_table{
    border:1px solid black;
}

/* Section1 */
.table_title{
    border-color: white;
}

.increased_cell{
    background-color: #7b7b7b !important;
    color: white !important;
}

.dropped_cell{
    font-weight: bold;
    font-family: AgencyFB
}

.admin_dropped_cell.input{
    font-weight: bold;
}


